.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: $color-white;
  border-radius: 0.3rem;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%); // shape-outside: we can wrap text to match the shape of the image; circle: first number is the radius of the circle and the other values are cx and cy (coordinate X and coordinate Y). see: https://www.freecodecamp.org/news/mastering-css-series-shape-outside-44d626270b25/
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
  }

  &__image {
    height: 100%;
  }

  &__text {
    transform: skewX(12deg);
  }

}